name: Exercise 1 - Environments

on:
  workflow_dispatch:
    inputs:
      environment_choice:
        type: choice
        description: 'Välj miljö att driftsätta till'
        options:
          - DEVELOPMENT
          - PRODUCTION
        default: 'DEVELOPMENT'

jobs:
  deploy:
    name: Deploy to ${{ inputs.environment_choice }}
    runs-on: ubuntu-latest
    
    # Denna rad är kritisk och måste vara indenterad
    # exakt så här (med två vanliga mellanslag).
    environment: ${{ inputs.environment_choice }}
    
    steps:
      - name: Print selected environment
        # Detta bör nu fungera
        run: echo "Deploying to ${{ job.environment.name }}"
