name: Exercise 1 - Environments

# Detta gör att du kan starta workflowet manuellt från Actions-fliken
on: workflow_dispatch

jobs:
  deploy-dev:
    name: Deploy to Dev
    runs-on: ubuntu-latest
    # Talar om för jobbet att det tillhör 'dev'-miljön
    environment: dev
    steps:
      - name: Print environment
        run: echo "Deploying to ${{ github.environment }}"

  deploy-prod:
    name: Deploy to Prod
    runs-on: ubuntu-latest
    # Talar om för jobbet att det tillhör 'prod'-miljön
    # Detta jobb kommer att pausas och vänta på godkännande pga din regel
    environment: prod
    steps:
      - name: Print environment
        run: echo "Deploying to ${{ github.environment }}"
