name: Exercise 4 - Branch-based Deploy

on:
  push:

jobs:
  deploy-dev:
    name: Deploy to DEVELOPMENT (Non-main)
    runs-on: ubuntu-latest
    environment: DEVELOPMENT
    if: github.ref_name != 'main'
    steps:
      - name: Print dev message
        run: |
          echo "This is NOT the main branch."
          echo "Deploying to ${{ github.environment }} environment..."
          echo "Source branch is: ${{ github.ref_name }}"

  deploy-prod:
    name: Deploy to PRODUCTION (Main)
    runs-on: ubuntu-latest
    environment: PRODUCTION
    if: github.ref_name == 'main'
    steps:
      - name: Print prod message
        run: |
          echo "This IS the main branch."
          echo "Deploying to ${{ github.environment }} environment..."
          echo "Source branch is: ${{ github.ref_name }}"
