name: Exercise 2 - Secrets

on:
  workflow_dispatch:
    inputs:
      environment_choice:
        type: choice
        description: 'Välj miljö att läsa hemlighet från'
        options:
          - DEVELOPMENT
          - PRODUCTION
        default: 'DEVELOPMENT'

jobs:
  use-secret:
    name: Use Secret from ${{ inputs.environment_choice }}
    runs-on: ubuntu-latest
    
    environment: ${{ inputs.environment_choice }}
    
    steps:
      - name: Print masked secret
        # Kommentarer är OK här
        run: echo "My secret API key is: ${{ secrets.MY_API_KEY }}"
