name: Exercise 2 - Secrets

on:
  workflow_dispatch:
    inputs:
      environment_choice:
        type: choice
        description: 'Välj miljö att läsa hemlighet från'
        options:
          - DEVELOPMENT
          - PRODUCTION
        default: 'DEVELOPMENT'

jobs:
  use-secret:
    name: Use Secret from ${{ inputs.environment_choice }}
    runs-on: ubuntu-latest
    
    # Denna rad är nödvändig för att få tillgång till
    # 'secrets.MY_API_KEY' som finns i den valda miljön.
    environment: ${{ inputs.environment_choice }}
    
    steps:
      - name: Print masked secret
        # GitHub Actions känner igen att 'secrets.MY_API_KEY' är en hemlighet
        # och kommer automatiskt att maskera (dölja) dess värde i loggen.
        run: echo "My secret API key is: ${{ secrets.MY_API_KEY }}"
